
.header{
   height: 80px;
   align-items: center;
   width: 100%;
   position: fixed;
   z-index: 50;
   background-color: #fff;
}
.header-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.social-icon :not(first-child){
   margin-left: 40px;
}

.nav-text{
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #3A3A3A;
}

.header-nav a + a {
   margin-left: 50px;
}

.nav-text:hover {
   color: rgba(58, 58, 58, 0.5);
}

.swiper-slide-content{
   position: relative;
}

.slide-content{
   position: absolute;
   top: 35%;
   right: 15%;
}


.slide-title {
font-family: 'Gilroy';
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 120%;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide-text{
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
width: 40%;
margin: 70px auto 70px auto;
}


.about-us{
   margin-top: 100px;
}

.about-us-description{
   width: 41%;
}

.about-us-content{
   display: flex;
   justify-content: space-between;
}

.title{
   display: flex;
   align-items: center;
   margin-bottom: 26px;
   
}

.content-title {
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 66px;
color: #222831;
margin-right: 35px;
}


.line {
border-right: 160px solid #222831;
height: 5px;
}

.about-company {
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 51px;
font-feature-settings: 'liga' off;
color: #18191F;
}

.about-company-bold{
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 51px;
font-feature-settings: 'liga' off;
color: #18191F;
margin-bottom: 28px;
}

.about-places-title{
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 47px;
font-feature-settings: 'liga' off;
color: #18191F;
}

.places-list {
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 25.3266px;
line-height: 41px;
font-feature-settings: 'liga' off;
color: #18191F;
}
